
	<h2 class ="center"><%= @school.title %></h2>
	<h5 class ="center"><em>Based on <%= @school.reviews.count %> reviews </em></h5>

	<div class = "row">

		<div class = "col six">
			<div><label>Overall quality</label><span class ="average" data-score = <%=@average_rating%>></span></div>
			<div><label>Academics</label><span class ="average" data-score = <%=@average_academics%>></span></div>
			<div><label>Assistance</label><span class ="average" data-score = <%=@average_assistance%>></span></div>
			<div><label>Return on Investment</label><span class ="average" data-score = <%=@average_return%>></span></div>
		</div>

		<div class = "col six">
			<div><label>Student Life</label><span class ="average" data-score = <%=@average_life%>></span></div>
			<div><label>Campus</label><span class ="average" data-score = <%=@average_campus%>></span></div>
			<div><label>Delay Graduation (per semester)</label><span class ="average" data-score = <%=@average_delay%>></span></div>
			<div><label>Career After Graduation</label><span class ="average" data-score = <%=@average_career%>></span></div>
		</div>

	</div>


<h2 class = "center">Reviews <em>(out of 5)</em> </h2>

<div class = "center">
	<% if user_signed_in? %>
		<%= link_to "Add Review", new_school_review_path(@school), class: "btn btn-custom" %>
	<% else %>
		<%= link_to "Add Review", new_user_session_path, class: "btn btn-custom"%>
	<% end %>	
</div>

<%= render @school.reviews %>


<div class = "links btn-group">

	<%= link_to "Back", root_path, class: "btn btn-custom" %>
	
	<% if user_signed_in? %>
		<% if @school.user_id == current_user.id %>
			<%= link_to "Edit", edit_school_path(@school), class: "btn btn-custom"%>
			<%= link_to "Delete", school_path(@school), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>
		<% end %>
	<% end %>

</div>



<script>
	$('.average').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score');
		},
		
	});
</script>