
	<h2 class ="center"><%= @school.title %></h2>
	<div class = "row">

		<div class = "col six">
			<div class = "average-review-rating" data-score= <%=@average_rating%> ><label>Overal quality</label></div>
			<div class = "average-review-academics" data-score= <%=@average_academics%> ><label>Academics</label></div>
			<div class = "average-review-assistance" data-score= <%=@average_assistance%> ><label>Assistance</label></div>
			<div class = "average-review-return" data-score= <%=@average_return%> ><label>Return on Investment</label></div>
		</div>

		<div class = "col six">
			<div class = "average-review-life" data-score= <%=@average_life%> ><label>Student Life</label></div>
			<div class = "average-review-campus" data-score= <%=@average_campus%> ><label>Campus</label></div>
			<div class = "average-review-delay" data-score= <%=@average_delay%> ><label>Delay Graduation (per semester)</label></div>
			<div class = "average-review-career" data-score= <%=@average_career%> ><label>Career After Graduation</label></div>
		</div>

	</div>


<h2 class = "center">Reviews</h2>

<div class = "center">
	<% if user_signed_in? %>
		<%= link_to "Add Review", new_school_review_path(@school), class: "btn btn-custom" %>
	<% else %>
		<%= link_to "Add Review", new_user_session_path, class: "btn btn-custom"%>
	<% end %>	
</div>

<%= render @school.reviews %>


<div class = "links btn-group">

	<%= link_to "Back", root_path, class: "btn btn-custom" %>
	
	<% if user_signed_in? %>
		<% if @school.user_id == current_user.id %>
			<%= link_to "Edit", edit_school_path(@school), class: "btn btn-custom"%>
			<%= link_to "Delete", school_path(@school), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>
		<% end %>
	<% end %>

</div>



<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score');
		},
		
	});
</script>

<script>
	$('.average-review-academics').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score');
		},
		
	});
</script>
<script>
	$('.average-review-assistance').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score');
		},
		
	});
</script>

<script>
	$('.average-review-life').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score');
		},
		
	});
</script>
<script>
	$('.average-review-campus').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score');
		},
		
	});
</script>
<script>
	$('.average-review-return').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score');
		},
		
	});
</script>
<script>
	$('.average-review-delay').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score');
		},
		
	});
</script>
<script>
	$('.average-review-career').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score');
		},
		
	});
</script>


