
<div class = "row">
		<div class = "col three">	

			<p><label>Overall quality</label><span class="btn btn-custom3"><%= review.rating %></span></p>
			<p><label>Academics</label><span class="btn btn-custom3"><%= review.academics %></span></p>
			<p><label>Assistance</label><span class="btn btn-custom3"><%= review.assistance %></span></p>
			<p><label>Return on Investment</label><span class="btn btn-custom3"><%= review.return %></span></p>

		</div>

		<div class = "col three">

			<p><label>Social</label><span class="btn btn-custom3"><%= review.life %></span></p>
			<p><label>Campus</label><span class="btn btn-custom3"><%= review.campus%></span></p>
			<p><label>Delay Graduation </label><span class="btn btn-custom3"><%= review.delay %></span></p>
			<p><label>Career</label><span class="btn btn-custom3"><%= review.career%></span></p>

			
		</div>

		<div class = "col six">
			<p class ="comment_text"><label>Comment: </label><%= review.comment %></p>

			<% if user_signed_in? %>
				<% if review.user_id == current_user.id %>

					<div class = "links btn-group">
						<%= link_to "Edit", edit_school_review_path(review.school, review ), class:"btn btn-custom" %>
						<%= link_to "Delete", school_review_path(review.school, review), method: :delete, data:  {confirm: "Are you sure?"}, class:"btn btn-custom" %>
					</div>
				<% end %>
			<% end %>
		</div>
</div>




