<!DOCTYPE html>
<html>
  <head>
    <title>ScreenSchools</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-static-top" >
        <ul class="nav navbar-nav topnav">
            <li><%= link_to "Screen Review", root_path%></li>
        </ul>

        <ul class="nav navbar-nav topnav" id= "myTopnav">

              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              
              <% if user_signed_in? %>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Log In", new_user_session_path%></li>
              <% end %>
        </ul>

        <ul class="nav navbar-nav navbar">
              <% if user_signed_in? %> 
                  <li><%= link_to "Add School", new_school_path %></li>
              <% end %>
        </ul>

        <%= form_tag search_schools_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        <p>
          <%= text_field_tag :search, params[:search], class: "form-control"%>
          <%= submit_tag "School Search", name: nil, class:"btn btn-custom1"%>
        </p>
        <% end %>
    </nav>

  	<p class="notice"><%= notice %></p>
  	<p class= "alert"><%= alert %></p>

    <div class= "container">
      <%= yield %>
    </div>

  </body>
</html>
